*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 800px;
    height: 60px;
    margin: auto;
    background-color: #E579E5;
    margin-top: 1em;
}

main{
    width: 800px;
    margin: auto;
    margin-top: 1em;
}

.upper-container{
    height: 400px;
    background-color: #e1d67a;
}